## Import des donn√©es que l'on veut visualiser

In [35]:
import pandas as pd
import mysql.connector as mc
from sqlalchemy import create_engine

engine = create_engine('mysql+mysqlconnector://root:root@localhost:3306/laferme', echo = False)

cnx = mc.connect(
  host="localhost",
  auth_plugin='mysql_native_password',
  user="samir",
  passwd="admin",
  database='laferme'
)

In [34]:
production = pd.read_sql(sql='SELECT * FROM productionviande',  con=cnx)
production

    fkelevage  annee  quantite
0           3     15     32596
1           5     15     39176
2           6     15     17057
3           9     15     31034
4          15     15     28637
5          24     15     29141
6          27     15     24200
7          30     15     17907
8          46     15     31799
9          52     15     32341
10         62     15     30978
11         66     15     18268
12         67     15     28325
13         68     15     20470
14         69     15     18055
15         72     15     35430
16         76     15     21416
17         78     15     24698
18         90     15     29643
19         97     15     39923
20         99     15     28540
21          8     16     17285
22          9     16     10385
23         12     16     16034
24         16     16     24937
25         20     16     36988
26         25     16     32105
27         29     16     21385
28         32     16     25176
29         34     16     24410
..        ...    ...       ...
45         16     17     14554
46         17     17     35467
47         30     17     39637
48         45     17     38014
49         56     17     19469
50         75     17     25758
51         87     17      9453
52         90     17     24731
53         94     17      7379
54         97     17     29141
55         11     18     12213
56         13     18     34581
57         14     18     15784
58         17     18     29703
59         26     18     38408
60         27     18     25909
61         39     18     20976
62         44     18     26731
63         47     18     31573
64         50     18      5645
65         56     18     24159
66         58     18     20339
67         68     18     33001
68         70     18     14651
69         72     18     14418
70         77     18     34560
71         89     18     31976
72         93     18     21410
73         98     18     16696
74         99     18     34275

[75 rows x 3 columns]

In [33]:
rendement=pd.read_sql('select idelevage,nom,sum(productionviande.quantite/elevage.capacite) as rendement from productionviande,elevage,animal where idanimal=fkanimal and idelevage=fkelevage group by elevage.idelevage', con=cnx)
rendement.set_index('idelevage')

                      nom  rendement
idelevage
3                  chevre    20.0221
5          vache laitiere   183.9249
6                  canard     6.7048
9                  chevre    26.9791
15                 chevre    13.1968
24                 chevre    15.2491
27                  dinde    19.5129
30         vache laitiere   277.9903
46                 chevre    20.0498
52                  dinde    11.1945
62                 chevre    15.5903
66                 chevre    12.5467
67                 mouton    28.5247
68         vache laitiere   411.3153
69                 canard     7.6961
72                 chevre    19.5100
76                 canard     7.2572
78                  dinde    10.4035
90                  dinde    18.1549
97                 chevre    30.5322
99                   porc   154.7610
8                   dinde    11.7505
12                 canard     7.2225
16                 mouton    35.5135
20                 chevre    12.7457
25                 chevre    15.5322
29                  dinde     7.8219
32                 chevre    12.3351
34                   porc    45.5410
37                   porc    43.2204
45                 chevre    33.7735
47                  dinde    38.6395
48                  dinde     9.3695
50         vache laitiere   349.9084
61                 canard     8.0986
77                 chevre    35.8718
89                 mouton    62.6059
92                 chevre    12.2520
95                  dinde    10.5403
1                   dinde     9.7120
2                  poulet     2.2551
14                 canard    21.6947
17                   porc    78.5180
56                 chevre    29.8209
75                  dinde     9.5755
87                 canard     6.4088
94                   porc    40.1033
11                 canard     7.8288
13                 mouton    27.1436
26                   porc    36.4748
39                  dinde     9.8757
44                 chevre    19.1346
58                   porc    39.8804
70                  dinde     9.5384
93                 mouton    24.7801
98                 chevre    13.2508

In [32]:
import matplotlib as mpl
import matplotlib.pyplot as plt